body {
  margin: 0;
  background: linear-gradient(to left, black, silver);
}

.product-image {
  max-width: 100px;
  border-radius: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid teal;
  width: 30%;
  border-radius: 1em;
  text-decoration: none; 
}
.product-card h3, .product-card p{
  color: inherit;
  text-decoration: none;
}
.product-card-element {
  color: inherit;
  text-decoration: none;
}

.title {
text-align: center;
  width: 60%;
  border-radius: 1em;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    color: #333;
  }

  
select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #027e7e;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
  .navbar {
    background-color: #343434; 
    overflow: hidden; 
    font-family: Arial, sans-serif; 
    display: flex;
    justify-content: space-between;
  }
  
  .navbar a {
    float: left; 
    display: block; 
    color: #f2efef; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
  }
